<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python311\python.exe %s %s" resourceType="Unspecified" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <remove name="Strict-Transport-Security" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS apex" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="^www\.evilgame\.com$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://evilgame.com/{R:1}" redirectType="Permanent" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
