<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Program Files\Python36\python.exe&quot; %s %s" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
