<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="App_Data" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <clear />
    </handlers>
  </system.webServer>
</configuration>
