<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="App_Data" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sqlite" allowed="false" />
          <add fileExtension=".sqlite-wal" allowed="false" />
          <add fileExtension=".sqlite-shm" allowed="false" />
          <add fileExtension=".db" allowed="false" />
          <add fileExtension=".txt" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <clear />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
